$primary=#00e5ee;
$info=#ff6700;
$deep=#008688;
$white=#fff;
$orange=#ff6700;
$exit=#ffe7ba



$fontColor1=#333;
$fontColor2=#666;
$fontColor3=#999;


$backgroundColor1=#c0ff3e;
$backgroundColor2=#ffe7ba;
$backgroundColor3=#ff8247;